code/java/BethelCreateResizedImagesPlugin/src/com/hannonhill/cascade/webservice/handler/security-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	targetNamespace="http://www.hannonhill.com/ws/ns/SecurityService" 
	xmlns:apachesoap="http://xml.apache.org/xml-soap" 
	xmlns:impl="http://www.hannonhill.com/ws/ns/SecurityService" 
	xmlns:intf="http://www.hannonhill.com/ws/ns/SecurityService"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"  
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	>
<!--+
	| WSDL description of SecurityService Web Service endpoint
	| 
	| Authors: Zach Bailey
	| Since : 4.4
	+-->
 <wsdl:types>
	<schema elementFormDefault="qualified"
		targetNamespace="http://www.hannonhill.com/ws/ns/SecurityService"
		xmlns="http://www.w3.org/2001/XMLSchema">
		
		<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
		<complexType name="ArrayOf_xsd_string">
			<complexContent>
				<restriction base="soapenc:Array">
					<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
				</restriction>
			</complexContent>
		</complexType>
		<element name="ArrayOf_xsd_string" nillable="true" type="impl:ArrayOf_xsd_string"/>
		
		<!-- The operations and their responses -->
		
		<element name="authenticate">
			<complexType>
				<sequence>
					<element name="authentication" type="impl:authentication"/>
				</sequence>
			</complexType>
		</element>
		
		<element name="authenticateResponse">
			<complexType>
				<sequence>
					<element name="authenticateReturn" type="impl:authenticateResult"/>
				</sequence>
			</complexType>
		</element>
		
		<!-- The base operation result class contains two members, success which
			 will either be "true" or "false" and a message, which when success is
			 "false" will contain a descriptive error message of why the operation failed. -->
		
		<complexType name="authentication">
			<sequence>
				<element name="password" nillable="false" type="xsd:string"/>
				<element name="username" nillable="false" type="xsd:string"/>
			</sequence>
		</complexType>
		
		<complexType name="operationResult">
			<sequence>
				<element name="success" maxOccurs="1" type="xsd:string"/>
				<element name="message" nillable="true" maxOccurs="1" type="xsd:string"/>				
			</sequence>
		</complexType>
		
		<complexType name="arrayOfGroup">
			<sequence>
				<element name="group" maxOccurs="unbounded" minOccurs="0" type="xsd:string"/>
			</sequence>
		</complexType>
				
		<complexType name="authenticateResult">
			<complexContent>
				<extension base="impl:operationResult">
					<sequence>
						<element name="authenticated" minOccurs="1" maxOccurs="1" type="xsd:boolean"/>
						<element name="authMsg" minOccurs="1" maxOccurs="1" type="xsd:string"/>
						<element name="groups" minOccurs="0" maxOccurs="1" nillable="true" type="impl:arrayOfGroup"/>
						<element name="assignedRole" minOccurs="1" maxOccurs="1" nillable="false" type="xsd:string"/>
					</sequence>
				</extension>
			</complexContent>
		</complexType>
		
	</schema>
 </wsdl:types>
			
   <!-- The individual WSDL messages. not much to see below here -->

   <wsdl:message name="authenticateRequest">
      <wsdl:part element="impl:authenticate" name="parameters"/>
   </wsdl:message>
	
   <wsdl:message name="authenticateResponse">
      <wsdl:part element="impl:authenticateResponse" name="parameters"/>
   </wsdl:message>

   <!-- describe the SecurityServiceHandler port -->
   <wsdl:portType name="SecurityServiceHandler">
	   
      <wsdl:operation name="authenticate">
		  <wsdl:input message="impl:authenticateRequest" name="authenticateRequest"/>
		  <wsdl:output message="impl:authenticateResponse" name="authenticateResponse"/>
	  </wsdl:operation>
	   
   </wsdl:portType>

   <!-- Bind the SecurityServiceHandler -->
   <wsdl:binding name="SecurityServiceSoapBinding" type="impl:SecurityServiceHandler">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	   
      <wsdl:operation name="authenticate">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="authenticateRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="authenticateResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
	   
   </wsdl:binding>

   <!-- Make the binding available as a service -->
   <wsdl:service name="SecurityService">
      <wsdl:port binding="impl:SecurityServiceSoapBinding" name="SecurityService">
         <wsdlsoap:address location="http://localhost:8180/ws/services/SecurityService"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>